section > h2 {
  display: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  display: inline-block;
  margin: 0 1em;
}

section p a {
  color: #326891;
}

nav ul li a {
  color: #666;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-size: 11px;
  text-decoration: none;
}

footer > div > div > ul > li > a {
  text-decoration: none;
  color: black;
}

.loginBtn a,
.subscription-btn a {
  display: inline-block;
  border-radius: 3px;
  cursor: pointer;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  background-color: #567b95;
  border: 1px solid #326891;
  color: #fff;
  font-size: 11px;
  line-height: 11px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 11px 12px 8px;
  text-decoration: none;
}

.subscription-btn {
  bottom: 7px;
  position: relative;
}

.cathegory a {
  font-size: 14.25px;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  line-height: 19px;
  color: black;
}

.commentBtn a {
  width: 330px;
  text-align: center;
  display: inline-block;
  border-radius: 3px;
  cursor: pointer;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  background-color: #567b95;
  border: 1px solid #326891;
  color: #fff;
  font-size: 11px;
  line-height: 11px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 11px 12px 8px;
  text-decoration: none;
}

.title-porfolio-article a {
  text-decoration: none;
}

.author a {
  color: inherit;
}

.specific-title a {
  font-size: 16px;
}

.smaller a {
  font-size: 11px;
}

aside h3 {
  font-weight: 500;
  padding-bottom: 0;
  font-family: sans-serif, nyt-cheltenham-small, georgia, "times new roman";
  font-size: 14px;
  line-height: 17px;
  color: rgb(51, 51, 51);
  width: 130px;
  float: left;
  border-bottom: none;
  margin: auto 0 auto 10px;
}

aside a h3 {
  text-decoration: none;
}

.title-porfolio-article h3,
.title-porfolio-article a {
  font-family: nyt-cheltenham, georgia, "times new roman", times, serif;
  font-weight: 500;
  color: rgb(51, 51, 51);
  font-size: 1.125rem;
  line-height: 22px;
  text-align: left;
}

.separator-ad a {
  color: rgb(50, 104, 145);
  text-decoration: none;
  width: 200px;
  position: absolute;
  left: 200px;
}

.fa-bars i a {
  height: 15px;
  font-size: 14px;
}

.navigation {
  position: relative;
  border-bottom: 1px solid #e2e2e2;
}

.navigation-left,
.navigation-right {
  position: absolute;
}

nav ul.navigation {
  display: block;
}

.search {
  left: 200px;
}

.loginBtn {
  right: 10px;
  bottom: 7px;
  position: relative;
}

.commentBtn {
  display: inline-block;
}

.top-bar {
  margin-top: 0;
  padding-top: 0;
}

aside img {
  display: block;
  height: 75px;
  width: 75px;
  background: url("") 0 0;
}

section,
div.grid {
  margin-left: 82px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 90px;
}

.big-image img {
  background-image: url('https://static01.nyt.com/images/2014/03/18/science/space/18cosmos/18cosmos-jumbo.jpg');
  width: 100%;
  height: auto;
  cursor: pointer;
}

.footer-logo img {
  width: 184px;
  height: auto;
  margin: 4px 0 20px 0;
}

.columns img {
  width: 945px;
  height: auto;
}

.logo > a > img {
  float: none;
  margin: 0;
  padding: 0;
  border: 0;
  width: 195px;
}

.logo {
  margin-top: 0;
  margin-left: 23%;
  margin-right: 23%;
}

.first-section {
  margin-bottom: 1em;
  float: left;
  width: 600px;
}

.fa-share,
.fa-facebook-f,
.fa-skype,
.fa-envelope {
  background: transparent;
  display: inline-block;
  background-color: #eee;
  border: 1px #eee solid;
  border-radius: 100%;
  padding: 5px;
  width: 27px;
  height: 27px;
}

.fa-share:hover,
.fa-facebook-f:hover,
.fa-skype:hover,
.fa-envelope:hover {
  background: transparent;
  display: inline-block;
  background-color: white;
  border: 1px #eee solid;
  border-radius: 100%;
  padding: 5px;
  width: 27px;
  height: 27px;
}

.second-group-icon {
  float: right;
}

* {
  box-sizing: border-box;
}

main .principal-article {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

main {
  width: 1200px;
  margin: 0 auto;
  margin-top: 5%;
}

.big-image {
  align-items: center;
  justify-content: center;
}

article header {
  width: 0 auto;
  align-items: center;
  justify-content: center;
}

header h1 {
  color: #121212;
  font-family: nyt-cheltenham, georgia, 'times new roman', times, serif;
  font-weight: 700;
  font-style: italic;
  font-size: 2.5rem;
  line-height: 3rem;
  width: 600px;
  text-align: left;
  margin: 43px auto;
}

header p {
  font-size: 0.9375rem;
  line-height: 1.25rem;
  margin-top: 10px;
  color: #666;
  font-family: nyt-imperial, georgia, 'times new roman', times, serif;
  text-align: left;
  margin-right: 300px;
}

header p > span {
  display: inline;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  color: #888;
  letter-spacing: 0.01em;
}

section {
  width: 1200px;
}

header + section {
  margin-top: 25px;
}

.grid {
  width: 1200px;
  height: 90%;
}

.columns {
  clear: both;
  position: relative;
  background-image: url() 0 0 no-repeat;
}

.grid .title,
.grid .columns {
  width: 945px;
  float: left;
  margin: 0 auto;
  margin-left: 30px;
}

section > div {
  margin-left: 200px;
  margin-right: 0;
  color: #333;
}

section p {
  font-size: 1.25rem;
  line-height: 1.875rem;
  font-family: nyt-imperial, georgia, 'times new roman', times, serif;
  width: 600px;
}

.specific-title li a {
  font-weight: bold;
}

section p a:hover {
  text-decoration: none;
}

aside div div {
  float: left;
  height: 75px;
  width: 75px;
  clear: both;
  outline: grey solid 1px;
}

.footer-logo div {
  color: #567b95;
  font-family: sans-serif, nyt-franklin;
  font-size: 11px;
  float: right;
  margin: 1em auto;
}

.columns > div {
  position: absolute;
}

.title-porfolio-article > div {
  margin-bottom: 1em;
}

.separator-ad div {
  width: 72px;
  border-bottom: 1px solid rgb(204, 204, 204);
  margin: 0 auto 18px;
  position: absolute;
  left: 250px;
}

.box-end > div {
  float: right;
}

.box-end {
  border-top: 1px solid black;
  margin-top: 1.5em;
  padding-top: 1em;
  position: fixed;
  bottom: 0;
  float: right;
  width: 100%;
  background-color: white;
}

.firstelt-box {
  margin-right: 16em;
}

.secondelt-box {
  margin-right: 8em;
}

.thirdelt-box {
  margin-right: 14em;
}

div.grid div {
  margin: 0 auto;
}

.author p,
.time,
.separator-ad {
  font-family: nyt-franklin, helvetica, arial, sans-serif;
}

div.author {
  margin-bottom: 15px;
}

.author p {
  width: 100%;
  letter-spacing: 0.02em;
  font-size: 15px;
  line-height: 1.125rem;
  font-weight: 700;
  color: 333;
  margin-bottom: 30px;
}

.author a:hover {
  text-decoration: none;
  color: inherit;
}

.time {
  float: left;
  margin-top: 1em;
}

nav ul li {
  margin: 0;
  padding: 0 10px;
}

.time li {
  font-weight: 500;
  color: #333;
  font-size: 0.8125rem;
  line-height: 1rem;
  margin: 0;
}

.separator-ad .one {
  top: -5px;
}

.separator-ad .two {
  top: 50px;
}

.separator-ad {
  position: relative;
  font-size: 15px;
  margin: 0 auto;
  font-weight: 700;
  line-height: 19px;
  text-align: center;
  padding-right: 0;
}

.separator-ad span {
  width: 200px;
  position: absolute;
  left: 200px;
}

.top-icons {
  float: right;
}

nav ul {
  display: inline-block;
}

.top-icons ul {
  float: right;
}

.top-icons li {
  width: 7px;
  height: 30px;
}

.title h6 {
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 700;
  font-style: normal;
  font-family: nyt-cheltenham, georgia, times new roman, times, serif;
  margin-bottom: 2px;
}

.title p {
  font-size: 0.875rem;
  line-height: 1.125rem;
  font-weight: 400;
  font-style: normal;
  font-family: nyt-cheltenham-sh, georgia, times new roman, times, serif;
  color: #666;
}

.bottom-of-article > p {
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-size: 0.75rem;
  line-height: 1rem;
  width: calc(100% - 40px);
  max-width: 600px;
  color: rgb(102, 102, 102);
}

.columns > div p {
  font-family: nyt-franklin, arial, helvetica, sans-serif;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  color: black;
}

.title-porfolio-article span {
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.375rem;
  max-width: 851.25px;
  display: block;
}

.time li,
.gallery span {
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1.25rem;
  letter-spacing: 0.3px;
  color: rgb(153, 153, 153);
}

.video figcaption > span {
  font-size: 13px;
  color: #666;
}

.middle-image figcaption > span {
  font-size: 13px;
  color: #666;
}

.gallery div span {
  color: rgb(153, 153, 153);
  float: right;
  font-family: sans-serif, nyt-cheltenham-small, georgia, "times new roman";
  font-size: 0.625rem;
}

.columns > div p span {
  font-size: 11px;
  font-weight: bold;
  letter-spacing: 0.05em;
}

.col1row1 {
  top: 24.8264%;
  left: 0.0436%;
  width: 228px;
}

.col2row1 {
  top: 24.8264%;
  left: 236.25px;
  width: 228px;
}

.col3row1 {
  top: 24.8264%;
  left: 472.5px;
  width: 228px;
}

.col4row1 {
  top: 24.8264%;
  left: 700px;
  width: 228px;
}

.col1row2 {
  top: 73.4375%;
  left: 0.0436%;
  width: 228px;
}

.col2row2 {
  top: 73.4375%;
  left: 236.25px;
  width: 228px;
}

.col3row2 {
  top: 73.4375%;
  left: 472.5px;
  width: 228px;
}

.col4row2 {
  top: 73.4375%;
  left: 700px;
  width: 228px;
}

.credit {
  position: absolute;
}

aside {
  float: right;
  width: 222px;
  align-items: center;
}

aside article {
  display: block;
  margin-bottom: 15px;
  height: 80px;
}

nav h2 {
  display: none;
}

aside div h2 {
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-weight: 700;
  color: rgb(0, 0, 0);
  margin-top: 0;
  margin-bottom: 15px;
  padding-bottom: 12px;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.02em;
  border-bottom: 1px solid rgb(226, 226, 226);
}

.sidebar {
  float: right;
  position: relative;
}

.sidebar:first-child {
  position: absolute;
  top: 2100px;
  right: 284px;
}

.bottom-of-article {
  margin-bottom: 2em;
  width: 600px;
}

.content {
  position: relative;
}

div.gallery {
  margin: 5px;
  float: left;
  width: 280px;
}

div.gallery:hover {
  color: solid #777;
}

div.gallery img {
  width: 272px;
  height: 182px;
}

.column-footer {
  float: left;
  width: 185px;
  height: 300px;
  margin-right: 0.5em;
}

footer {
  margin: 0 auto;
  width: 1200px;
}

.double-line {
  border-bottom: 1px solid #e2e2e2;
  border-top: 2px solid #e2e2e2;
  content: '';
  display: block;
  height: 1px;
  margin-top: 0;
}

.right-column h3,
.bottom-line {
  border-bottom: 1px solid rgb(226, 226, 226);
  padding: 5px 0;
}

.column-footer > h3 {
  color: #333;
  font-size: 13px;
  font-weight: 700;
  font-family: sans-serif, nyt-franklin;
  height: 25px;
  line-height: 15px;
  margin: 0;
  text-transform: uppercase;
  width: 150px;
}

.title-article > div > h3 {
  margin-left: 15px;
}

.title-porfolio-article a:hover {
  color: rgb(102, 102, 102);
}

.separator {
  clear: both;
  margin-top: 40px;
}

.left-column {
  width: 73%;
  float: left;
  margin-top: 1em;
}

.right-column {
  float: left;
  width: 26%;
  margin-top: 1em;
  margin-left: 10px;
}

.column-footer > ul > li {
  color: #000;
  display: inline-block;
  font-family: sans-serif, nyt-franklin;
  text-transform: capitalize;
  width: 200px;
  font-size: 14px;
  font-weight: 500;
  height: 23px;
  line-height: 16px;
  margin: 0;
}

ul.second {
  margin-top: 15px;
}

ul.line {
  border-top: 1px solid #e2e2e2;
  margin-top: 2px;
  padding-top: 10px;
  display: block;
}

.specific-title li a:hover,
.column-footer > ul > li a:hover {
  text-decoration: underline;
}

.righty {
  border-left: 1px solid #e2e2e2;
  padding-left: 15px;
}

nav {
  text-align: center;
  width: 100%;
  border-top: 1px solid #ebebeb;
}

nav.top {
  height: 60px;
  z-index: 1;
}

header .top {
  background-color: white;
  position: fixed;
  top: 0;
}

main:first-child {
  display: relative;
}

*li {
  margin-top: 0;
}

/* .figcaption-gallery{
    display: block;
    font-family: nyt-cheltenham-small, georgia, "times new roman";
    width: 150px;
    float: right;
}

.figcaption-gallery > section{
    width: 180px;
    padding-bottom: 4px;
    font-size: 0.625rem;
    margin: 3px 0px 0px;
    text-align: right;
    color: rgb(153, 153, 153);
    line-height: 1.23em;
    font: inherit;
    vertical-align: baseline;
    padding: 0;
    border: 0;
    float: right;
} */

div.desc {
  clear: both;
}

.top-line {
  clear: both;
  border-top: 1px black solid;
  height: 5px;
  margin-right: 10px;
}

.middle-image {
  margin: 0 auto;
  width: 1200px;
}

.middle-image figure {
  margin-left: 135px;
}

.middle-image figcaption > span:first-child {
  font-size: 0.9375rem;
  line-height: 1.25rem;
  margin-right: 7px;
  color: #666;
  font-family: nyt-imperial, georgia, 'times new roman', times, serif;
}

figure.video {
  margin-left: 0;
}

.video figcaption > span:first-child {
  font-size: 0.9375rem;
  line-height: 1.25rem;
  margin-right: 7px;
  color: #666;
  font-family: nyt-imperial, georgia, 'times new roman', times, serif;
}

h2.hide {
  display: none;
}

.hide {
  visibility: hidden;
}

.elt-both {
  clear: both;
}

.middle-image > figure > div > img {
  width: 720px;
  margin-left: 71px;
}

.middle-image > figure > figcaption {
  margin-left: 71px;
}

.nav-footer {
  margin-top: 2em;
}

@media only screen and (max-width: 1288px) {
  .sidebar:first-child {
    position: absolute;
    top: 2100px;
    right: 100px;
  }
}

@media only screen and (max-width: 1339px) {
  .sidebar:first-child {
    position: absolute;
    top: 2100px;
    right: 105px;
  }
}

@media only screen and (max-width: 1390px) {
  .sidebar:first-child {
    position: absolute;
    top: 2100px;
    right: 150px;
  }
}

@media only screen and (max-width: 1400px) {
  .sidebar:first-child {
    position: absolute;
    top: 2100px;
    right: 100px;
  }
}

@media only screen and (max-width: 1170px) {
  aside {
    visibility: hidden;
  }
}
