ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-color: #333; */
}

li {
    float: left;
}

li a {
    display: block;
    /* color: white; */
    text-align: center;
    text-decoration: none;
} 

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li{
    /* flex: 1; */
    margin: 0 1em;
    display: inline-block;
}


.subscibtionBtn, .loginBtn{
    float: right;
}

.loginBtn {
    margin:0 0em;
}

.logo > a >img{
    float: none;
    margin: 0;
    padding: 0;
    border: 0;
}

.logo > a >img {
    width: 195px;
}

.logo {
    margin: 0px 29%;
}

.navigation{
    border-bottom: 1px solid #e2e2e2;
}